{% comment %} Saketh Lakshmanan
Sl778
05/06/23 {% endcomment %}

{% extends "gym_home/base.html" %} 
{% load static %}
{% block title %} 

Sign Up page

{% endblock %}

{% block content %} 

<center><h2 style="color:#4c3c4d;">The programs you can currently join include:</h2></center>
<center><table border='1'>
    <tr>
        <th style="color:#ffff;">Title</th>
        <th style="color:#ffff;">Timings</th>
    </tr>
    {% for x in myPrograms %}
        <tr>
            <td style="color:#ffff;">{{ x.title }}</td>
            <td style="color:#ffff;">{{ x.timings }}</td>
        </tr>
    {% endfor %}
</table></center><br><br>

<center>
    <form method="POST" action="." style="color:#ffff;">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
</center>
  

{% endblock %}